<div class="container section1">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="text-center titulo1">
        <h1>Lista de Clientes</h1>
        </div>
        <div>
            <table class="table table-light table-hover tabla1">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Fecha de Nacimiento</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Edad</th>
                    <th scope="col"><i class="fas fa-user-plus agregar1" routerLink="/crearcliente"></i></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let verc of listaclientes">
                    <td scope="row">{{verc._id}}</td>
                    <td>{{verc.Nombre}}</td>
                    <td>{{verc.Apellido}}</td>
                    <td>{{verc.FechaNacimiento | date}}</td>
                    <td>{{verc.Telefono}}</td>
                    <td>{{verc.Edad}}</td>
                    <td><i class="fas fa-user-edit editar1" routerLink="/editarc/{{verc._id}}"></i>
                        <i class="fas fa-user-minus eliminar1" routerLink="/clientes/{{verc._id}}"></i></td>
                  </tr>
                  </tbody>
              </table>
        </div>
    </div>
</div>

