<div class="container section1">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="text-center titulo1">
        <h1>Lista de Clientes</h1>
        </div>
        <div>
            <table class="table table-light table-hover tabla1">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Fecha de Nacimiento</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Edad</th>
                    <th scope="col"><i class="fas fa-user-plus agregar1" routerLink="/crearcliente"></i></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td scope="row">1</td>
                    <td>Santiago</td>
                    <td>Renteria</td>
                    <td>30/09/1992</td>
                    <td>3173824538</td>
                    <td>28</td>
                    <td><i class="fas fa-user-edit editar1"></i>
                        <i class="fas fa-user-minus eliminar1"></i></td>
                  </tr>
                  <tr>
                    <td scope="row">2</td>
                    <td>Camila</td>
                    <td>Velasquez</td>
                    <td>01/12/1993</td>
                    <td>3056666666</td>
                    <td>27</td>
                    <td><i class="fas fa-user-edit editar1"></i><i class="fas fa-user-minus eliminar1"></i></td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>

