.section1{
    margin-top: 150px;
    width: 25%;
}

@media screen and (max-width: 1300px) {
    .section1 {
        width: 50%;
    }
  }

  @media screen and (max-width: 700px) {
    .section1 {
        width: 80%;
    }
  }

.section2{
    border-radius: 20px;
    background-color: #032c13;
}

.section2 h1{
    color: white;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo2{
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
 
}