<div class="container section1">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="text-center titulo1">
        <h1>Lista de facturas</h1>
        </div>
        <div>
            <table class="table table-light table-hover tabla1">
                <thead>
                  <tr>
                    <th scope="col">Factura</th>
                    <th scope="col">Fecha Factura</th>
                    <th scope="col">Id Cliente</th>
                    <th scope="col">Id Producto</th>
                    <th scope="col">Unidades</th>
                    <th scope="col">Precio</th>
                    <th scope="col"><i class="fas fa-user-plus agregar1" routerLink="/crearfactura"></i></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td scope="row">000001</td>
                    <td>21/07/2021</td>
                    <td>Santiago</td>
                    <td>Banano</td>
                    <td>3</td>
                    <td>900</td>
                    <td><i class="fas fa-user-edit editar1"></i>
                        <i class="fas fa-user-minus eliminar1"></i></td>
                  </tr>
                  <tr>
                    <td scope="row">000002</td>
                    <td>21/07/2021</td>
                    <td>Camila</td>
                    <td>Coco</td>
                    <td>1</td>
                    <td>300</td>
                    <td><i class="fas fa-user-edit editar1"></i><i class="fas fa-user-minus eliminar1"></i></td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>


