              
  <!-- header menu principal -->

<header>
    <nav class="navbar navbar-expand-lg  menu1">
        <div class="container-fluid">
            <div>  
                <a class="navbar-brand titulo1" routerLink="/productos">TiendaSG</a>
            </div>
                        <button class="navbar-toggler navbar-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse flex-row-reverse bd-highlight" id="navbarNavDropdown">
                <ul class="navbar-nav ">
                    <li class="nav-item ms-3 ">
                        <a class="nav-link  tipografia link-dark" aria-current="page" routerLink="/productos"  >Productos</a>
                    </li>
                    <li class="nav-item ms-3">
                        <a class="nav-link tipografia link-dark" routerLink="/clientes">Clientes</a>
                    </li>
                    <li class="nav-item ms-3">
                        <a class="nav-link tipografia link-dark " routerLink="/facturas">Facturas</a>
                   </li>
                    <li class="nav-item ms-3">
                        <a class="nav-link tipografia link-dark" routerLink="/consulta">Consulta</a>
                    </li>   
                </ul>
            </div>
        </div>
    </nav>
  </header>